.button {
  background-color: $blue;
  border: none;
  color: $white;
  padding: $s-size;
  position: absolute;

  &:hover {
    border: 2px solid $blue;
    background-color: $white;
    color: $blue;
    transition: background-color 0.5s;
  }

  &:active {
    border: 2px solid $blue !important;
    background-color: rgb(193, 210, 241);

  }

  &:disabled {
    background-color: lighten($color: $blue, $amount: 30);
    cursor: none;
    pointer-events: none;
  }
}

.button--mini {
  padding: 0.5rem;
  position: relative;
}

.button--marked {
  background-color: #71dc07 !important;
}

.button--prev {
  bottom: 0;
  left: 0;
}

.button--next {
  bottom: 0;
  right: 0;
}

.button--favorite {
  align-self: flex-start;
  border: none;
  border-radius: 50%;
  margin-right: $m-size;
  outline: none;
  right: 1%;
  // top: 27%;
  z-index: 10;

  &::before {
    background-color: inherit;
    border-radius: 50%;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    height: 3.9rem;
    top: 0;
    width: 3.734rem;
    z-index: -1;
    animation: pulse ease-in-out 1000ms infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.75;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
