.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    width: 800px;
    // height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 30%;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -400px; 


    @media (max-width: 767.98px) {
            width: 300px;
            height: 200px;
            top: 27%;
            left: 50%;
            margin-top: -100px; /* Negative half of height. */
            margin-left: -150px;        
}
}

.Modal.small {
width: 300px;
margin-left: -150px; 
@media (max-width: 767.98px) {
    width: 150px;
   

}
}

.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}