.apod {
  //   max-width: 760px;
  display: flex;
  position: relative;
}

.apod__media {
  flex: 1;
  margin: 0 auto;
  margin-bottom: $s-size;

  img {
    height: 100%;
    width: 100%;
  }
}

.apod__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 40rem;
  padding: $m-size;
  padding-top: 0;
}

.apod__copyright {
  display: inline-block;
  padding: $m-size $m-size $m-size 0;
  font-size: $font-size-small;
}

.apod__title {
  background-color: $white;
  font-family: 'Oswald';
  font-size: $font-size-xlarge;
  font-weight: bold;
  left: -$xl-size-pc;
  letter-spacing: 0.2rem;
  padding: $m-size;
  padding-top: 0;
  position: relative;
  //   text-align: left;
  text-transform: uppercase;
}

.apod__explanation {
  font-size: $font-size-small;
  line-height: 1.5;
  margin-bottom: $xl-size-pc;
}
