// Colors
$blue: #105bd8; //#0B3D91
$dark-color: #282c34;
$white: #fff;

// Font Sizing
$font-size-xxlarge: 4.8rem;
$font-size-xlarge: 3.2rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
$font-size-x-small: 1.2rem;

// Spacing
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xl-size-pc: 9.8rem;

// responsivenss
$xs-devices: 575.98px;
$sm-devices: 767.98px;
$md-devices: 991.98px;
$lg-devices: 1199.98px;
